<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="kataledatabase" connectionString="Server=localhost; database=katale; integrated security=true;" providerName="System.Data.SqlClient" />
    <add name="kataledatabaseazure" connectionString="Server=tcp:kataledb.database.windows.net,1433;Initial Catalog=katale;Persist Security Info=False;User ID=steven;Password=Password@2019;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>